/**
 *
 * Apply Here your Custom CSS
 *
*/

body {

}
.error{
    border-color: #cc2424;
    color: #cc2424;
    display: inline-block !important;
    margin-top: 5px;
}
label.error{
    display: none !important;
}
.datepicker.datepicker-dropdown {
  z-index: 10001 !important;
}